<div class="container-flex image-viewer roboto-light">
  <div class="row image-viewer-section py-3">
    <!-- Image viewer section-->
    <div class="col-auto text-center">
      <span class="material-icons prev-icon" (click)="previousImage()">arrow_left</span>
    </div>
    <div class="col main-image-container">
      <ng-container *ngIf="imagePreviews[currentImageIndex]">
        <img [src]="imagePreviews[currentImageIndex]" [style.transform]="tansformConfig.transformationStyle"
          alt="Main Image" class="img-fluid" appDraggable>
        <div *ngIf="tansformConfig.showGridLines" class="grid-overlay"></div>
      </ng-container>
      <ng-container *ngIf="!imagePreviews[currentImageIndex]">
        <h4>Upload images to display</h4>
      </ng-container>
    </div>
    <div class="col-auto text-center">
      <span class="material-icons prev-icon" (click)="nextImage()">arrow_right</span>
    </div>
    <!-- Image transition control section-->
    <app-image-Transform-controls class="mt-3" (imageTransformConfig)="setTransformStyle($event)">
    </app-image-Transform-controls>
  </div>
  <!-- Image thumbnails section with upload option -->
  <div class="container pt-4">
    <div class="row ">
      <div class="col-auto text-center">
        <span class="material-icons prev-icon" (click)="scrollLeft()">arrow_left</span>
      </div>
      <div class="col image-upload-container" #imageContainer>
        <div *ngFor="let thumbnail of imagePreviews; let i = index" class="thumbnail_img__container"
          [ngClass]="{'thumbnail_active': i === currentImageIndex}">
          <img [src]="thumbnail" alt="Thumbnail {{i + 1}}" class="thumbnail_img mr-3" (click)="setImage(i)">
        </div>
        <div class="thumbnail_img__container thumbnail_img" (click)="triggerUploadImage()">
          <span class="material-icons prev-icon">add_photo_alternate</span>
        </div>
      </div>
      <div class="col-auto text-center">
        <span class="material-icons prev-icon" (click)="scrollRight()">arrow_right</span>
      </div>
    </div>
  </div>

  <input type="file" #uploadImageInput (change)="onFileSelected($event)" accept="image/*" style="display: none;"
    multiple>
</div>